body {
    background-color: #fefefe;
}

#vizSVG {
    background-color: white;
}

/* Symbol Attributes */

.sym { fill-rule: evenodd; fill-width: 0px; }


.sym-WhiteSpace { fill: #ffffff}



/* Gender 1a/b/c*/

.sym-MalGend { fill: #5F7E91 }

.sym-FemGend { fill: #964850}

.sym-Age { fill: #91a983 }


/* Age Classe Female 2a*/

.sym-FemAge-21 { fill: #d8adb2 } /*Two Female*/
.sym-FemAge-22 { fill: #9f3f49 } /*Two Female*/

.sym-FemAge-31 { fill: #E0C8CB } /*Three Female*/
.sym-FemAge-32 { fill: #BC8A8F} /*Three Female*/
.sym-FemAge-33 { fill: #783A40 } /*Three Female*/

.sym-FemAge-41 { fill: #E0C8CB } /*Four Female*/
.sym-FemAge-42 { fill: #9f3f49 } /*Four Female*/
.sym-FemAge-43 { fill:  #d57280} /*Four Female*/
.sym-FemAge-44 { fill: #783A40  } /*Four Female*/

.sym-FemAge-51 { fill: #E0C8CB } /*Five Female*/
.sym-FemAge-52 { fill: #BC8A8F  } /*Five Female*/
.sym-FemAge-53 { fill:  #d57280} /*Five Female*/
.sym-FemAge-54 { fill: #9f3f49 } /*Five Female*/
.sym-FemAge-55 { fill: #783A40 } /*Five Female*/

.sym-FemAge-61 { fill: #E0C8CB } /*Six Female*/
.sym-FemAge-62 { fill: #BC8A8F  } /*Six Female*/
.sym-FemAge-63 { fill:  #d57280 } /*Six Female*/
.sym-FemAge-64 { fill: #9f3f49 } /*Six Female*/
.sym-FemAge-65 { fill: #783A40 } /*Six Female*/
.sym-FemAge-66 { fill: #A9A9A9 } /*Six Female*/

.sym-FemAge-71 { fill: #ECDEE0 } /*Seven Female*/
.sym-FemAge-72 { fill: #BC8A8F } /*Seven Female*/
.sym-FemAge-73 { fill:  #d57280 } /*Seven Female*/
.sym-FemAge-74 { fill: #9f3f49 } /*Seven Female*/
.sym-FemAge-75 { fill: #783A40 } /*Seven Female*/
.sym-FemAge-76 { fill: #A9A9A9 }  /*Seven Female*/
.sym-FemAge-77 { fill: #545454 } /*Seven Female*/



/* Age Classes Male 2b*/

.sym-MalAge-21 { fill: #c8d7db } /*Two sym-Male*/
.sym-MalAge-22 { fill: #7399ab } /*Two sym-Male*/

.sym-MalAge-31 { fill: #cedee7 } /*Three sym-Male*/
.sym-MalAge-32 { fill: #7399ab } /*Three sym-Male*/
.sym-MalAge-33 { fill: #3c5464 } /*Three sym-Male*/

.sym-MalAge-41 { fill: #cedee7 } /*Four sym-Male*/
.sym-MalAge-42 { fill: #85b2c2 } /*Four sym-Male*/
.sym-MalAge-43 { fill: #618193 } /*Four sym-Male*/
.sym-MalAge-44 { fill: #3c5464} /*Four sym-Male*/

.sym-MalAge-51 { fill: #cedee7 } /*Five sym-Male*/
.sym-MalAge-52 { fill: #91becc } /*Five sym-Male*/
.sym-MalAge-53 { fill: #7399ab } /*Five sym-Male*/
.sym-MalAge-54 { fill: #577587 } /*Five sym-Male*/
.sym-MalAge-55 { fill: #3c5464 } /*Five sym-Male*/

.sym-MalAge-61 { fill: #cedee7 } /*Six sym-Male*/
.sym-MalAge-62 { fill: #91becc } /*Six sym-Male*/
.sym-MalAge-63 { fill: #7399ab } /*Six sym-Male*/
.sym-MalAge-64 { fill: #577587 } /*Six sym-Male*/
.sym-MalAge-65 { fill: #3c5464 } /*Six sym-Male*/
.sym-MalAge-66 { fill: #102A3B } /*Six sym-Male*/

.sym-MalAge-71 { fill: #cedee7 } /*Seven sym-Male*/
.sym-MalAge-72 { fill: #91becc} /*Seven sym-Male*/
.sym-MalAge-73 { fill: #7399ab} /*Seven sym-Male*/
.sym-MalAge-74 { fill: #577587 } /*Seven sym-Male*/
.sym-MalAge-75 { fill: #3c5464 } /*Seven sym-Male*/
.sym-MalAge-76 { fill: #A9A9A9}  /*Seven sym-Male*/
.sym-MalAge-77 { fill: #545454 } /*Seven sym-Male*/



/* sym-Age Classe Both 2c*/

.sym-Age-21 { fill: #91a983 } /*Two sym-Age class*/
.sym-Age-22 { fill: #426b4b} /*Two sym-Age class*/

.sym-Age-31 { fill: #e0ebca } /*Three sym-Age class*/
.sym-Age-32 { fill: #6a8961 } /*Three sym-Age class*/
.sym-Age-33 { fill: #072e2c} /*Three sym-Age class*/

.sym-Age-41 { fill: #e0ebca } /*Four sym-Age class*/
.sym-Age-42 { fill: #91a983 } /*Four sym-Age class*/
.sym-Age-43 { fill: #426b4b } /*Four sym-Age class*/
.sym-Age-44 { fill: #072e2c } /*Four sym-Age class*/

.sym-Age-51 { fill: #e0ebca } /*Five sym-Age class*/
.sym-Age-52 { fill: #a3b995 } /*Five sym-Age class*/
.sym-Age-53 { fill: #6a8961 } /*Five sym-Age class*/
.sym-Age-54 { fill: #305b42 } /*Five sym-Age class*/
.sym-Age-55 { fill: #072e2c } /*Five sym-Age class*/

.sym-Age-61 { fill: #e0ebca } /*Six sym-Age class*/
.sym-Age-62 { fill: #a3b995  } /*Six sym-Age class*/
.sym-Age-63 { fill: #6a8961 } /*Six sym-Age class*/
.sym-Age-64 { fill: #305b42 } /*Six sym-Age class*/
.sym-Age-65 { fill: #072e2c } /*Six sym-Age class*/
.sym-Age-66 { fill: #A9A9A9 } /*Six sym-Age class*/

.sym-Age-71 { fill: #e0ebca } /*Seven sym-Age class*/
.sym-Age-72 { fill: #a3b995 } /*Seven sym-Age class*/
.sym-Age-73 { fill: #6a8961 } /*Seven sym-Age class*/
.sym-Age-74 { fill: #305b42 } /*Seven sym-Age class*/
.sym-Age-75 { fill: #072e2c } /*Seven sym-Age class*/
.sym-Age-76 { fill: #A9A9A9 }  /*Seven sym-Age class*/
.sym-Age-77 { fill: #545454	} /*Seven sym-Age class*/



/* sym-Category 3*/

.sym-Cate-21 { fill: #bf7a1d } /*Two Objects/ sym-Category*/

.sym-Cate-21 { fill: #bf7a1d } /*Two Objects/ sym-Category*/
.sym-Cate-22 { fill: #722442 } /*Two Objects/ sym-Category*/

.sym-Cate-31 { fill: #bf7a1d } /*Three Objects/ sym-Category*/
.sym-Cate-32 { fill: #722442 } /*Three Objects/ sym-Category*/
.sym-Cate-33 { fill: #9cb097 } /*Three Objects/ sym-Category*/

.sym-Cate-41 { fill: #bf7a1d }  /*Four Objects/ sym-Category*/
.sym-Cate-42 { fill: #722442 }  /*Four Objects/ sym-Category*/
.sym-Cate-43 { fill: #9cb097 } /*Four Objects/ sym-Category*/
.sym-Cate-44 { fill: #05304a } /*Four Objects/ sym-Category*/

.sym-Cate-51 { fill: #bf7a1d } /*Five Objects/ sym-Category*/
.sym-Cate-52 { fill: #722442 } /*Five Objects/ sym-Category*/
.sym-Cate-53 { fill: #9cb097 } /*Five Objects/ sym-Category*/
.sym-Cate-54 { fill: #05304a } /*Five Objects/ sym-Category*/
.sym-Cate-55 { fill: #c3a579 } /*Five Objects/ sym-Category*/

.sym-Cate-61 { fill: #bf7a1d } /*Six Objects/ sym-Category*/
.sym-Cate-62 { fill: #722442 } /*Six Objects sym-Category*/
.sym-Cate-63 { fill: #9cb097 } /*Six Objects sym-Category*/
.sym-Cate-64 { fill: #05304a } /*Six Objects sym-Category*/
.sym-Cate-65 { fill: #c3a579 } /*Six Objects sym-Category*/
.sym-Cate-66 { fill: #ded6cc } /*Six Objects sym-Category*/

.sym-Cate-extra1 { fill: #e3bd8a } /*Three Objects/ sym-Category*/
.sym-Cate-extra2 { fill: #a17284 } /*Three Objects/ sym-Category*/
.sym-Cate-extra3 { fill: #d4e3d1 } /*Three Objects/ sym-Category*/
.sym-Cate-extra4 { fill: #587587 }  /*Four Objects/ sym-Category*/
.sym-Cate-extra5 { fill: #c7bcab }  /*Four Objects/ sym-Category*/
.sym-Cate-extra6 { fill: #857f76 } /*Four Objects/ sym-Category*/




/* sym-Diverging 4*/

.sym-Div-21 { fill: #BB8233 } /*Two sym-Diverging*/
.sym-Div-22 { fill: #2E866E } /*Two sym-Diverging*/

.sym-Div-31 { fill: #BB8233 } /*Three sym-Diverging*/
.sym-Div-32 { fill: #DCDADB } /*Three sym-Diverging*/
.sym-Div-33 { fill: #2E866E } /*Three sym-Diverging*/

.sym-Div-41 { fill: #BB8233 }  /*Four sym-Diverging*/
.sym-Div-42 { fill: #E8D5BB }  /*Four sym-Diverging*/
.sym-Div-43 { fill: #B0DCD0 } /*Four sym-Diverging*/
.sym-Div-44 { fill: #2E866E } /*Four sym-Diverging*/

.sym-Div-51 { fill: #BB8233} /*Five sym-Diverging*/
.sym-Div-52 { fill: #E8D5BB} /*Five sym-Diverging*/
.sym-Div-53 { fill: #DCDADB} /*Five sym-Diverging*/
.sym-Div-54 { fill: #B0DCD0}  /*Five sym-Diverging*/
.sym-Div-55 { fill: #2E866E} /*Five sym-Diverging*/



/* Difference */

/* Gender 1a/b/c*/

.sym-MalGend4 { fill: #9fb6c4}

.sym-FemGend4 { fill: #ba848a}

.sym-Age4 { fill: #c3cfbc }


/* Age Classe Female 2a*/

.sym-FemAge-214 { fill: #f2d8db} /*Two Female*/
.sym-FemAge-224 { fill: #9f3f49 } /*Two Female*/


/* Age Classes Male 2b*/

.sym-MalAge-214 { fill: #e6eced} /*Two sym-Male*/
.sym-MalAge-224 { fill: #7399ab } /*Two sym-Male*/


/* sym-Age Classe Both 2c*/

.sym-Age-214 { fill: #c1d4b6} /*Two sym-Age class*/
.sym-Age-224 { fill: #78967f} /*Two sym-Age class*/


/* sym-Category 3*/


.sym-Cate-214 { fill: #cf9d5b } /*Two Objects/ sym-Category*/
.sym-Cate-224 { fill: #a67789 } /*Two Objects/ sym-Category*/


/* sym-Diverging 4*/

.sym-Div-214 { fill: #c7a77b } /*Two sym-Diverging*/
.sym-Div-224 { fill: #74a698 } /*Two sym-Diverging*/

