.content-wrapper
    .container
        .row
            .col-12.col-lg-10.col-xl-8
                h1.wp-block-wk-page-title#h1-heading Datenschutz
                p
                    | Inhaltlich richtige und aktuelle Informationen sind der Fachhochschule Nordwestschweiz FHNW wichtig. Es ist deshalb m&ouml;glich, dass Inhalte unserer Website ganz oder teilweise ge&auml;ndert, gel&ouml;scht oder (zeitweise) nicht mehr ver&ouml;ffentlicht werden.
                h2 Pers&ouml;nliche Daten
                p
                    | Die FHNW achtet auf einen bewussten und sparsamen Umgang mit pers&ouml;nlichen Daten. Die erhobenen Daten werden jeweils nur f&uuml;r den erkennbaren Zweck genutzt.
                    br
                    br
                    | Das Speichern von pers&ouml;nlichen Daten liegt in der Hoheit der FHNW. Daten werden sorgf&auml;ltig aufbewahrt und vor Zugriffen Dritter gesch&uuml;tzt. Wir sichern Daten mit technischen und organisatorischen Massnahmen, die dem aktuellsten Stand entsprechen. Pers&ouml;nlichen Daten werden nicht an Dritte weitergegeben, es sei denn, das Gesetz sieht diese Weitergabe vor oder es liegt eine ausdr&uuml;ckliche Zustimmung vor.
                h2 Cookies
                p
                    | Cookies sind Textdateien, die auf Ihrem Computer dauerhaft oder tempor&auml;r gespeichert werden und die beispielsweise eine Analyse der Benutzung der Website erm&ouml;glichen.
                    br
                    br
                    | Sie k&ouml;nnen die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software jederzeit ganz oder teilweise verhindern. Wir weisen Sie jedoch darauf hin, dass Ihnen in diesem Fall allenfalls nicht mehr alle Funktionen dieser Website zur Verf&uuml;gung stehen.
                h2 Webanalyse und Re-/Marketing von Google
                h3 Google Analytics
                p
                    | Die FHNW nutzt den Webanalysedienst Google Analytics, um Informationen &uuml;ber die Nutzung unserer Website zu erhalten. Google Analytics verwendet Cookies. Die durch Cookies generierten Informationen werden an einen Server von Google in den USA &uuml;bertragen. Google verf&uuml;gt &uuml;ber eigene Datenschutzbestimmungen.
                    br
                    br
                    | Die FHNW setzt Google Analytics nur mit aktivierter IP-Anonymisierung ein. Die vom Browser des Nutzers &uuml;bermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengef&uuml;hrt.
                    br
                    br
                    | Als Nutzer k&ouml;nnen Sie nicht nur die Speicherung der Cookies verhindern; Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verf&uuml;gbare Browser-Plugin herunterladen und installieren:&nbsp;
                    br
                    | &raquo;&nbsp;
                    a(rel='noreferrer noopener' href='http://tools.google.com/dlpage/gaoptout?hl=de' target='_blank') http://tools.google.com/dlpage/gaoptout?hl=de
                h3 Google AdWords
                p
                    | Beim AdWords Conversion Tracking wird zur Leistungsbestimmung ebenfalls ein Cookie verwendet, welches bis zu 30 Tage auf Ihrem Computer gespeichert wird, nachdem Sie auf eine AdWords-Anzeige geklickt haben. Das Cookie l&ouml;scht sich anschliessend von selbst.
                h3 Google Tag Manager
                p
                    | Die FHNW nutzt Google Tag Manager f&uuml;r die Verwaltung sogenannter&nbsp;
                    a(rel='noreferrer noopener' href='https://support.google.com/analytics/answer/6086213?hl=de' target='_blank') Website-Tags
                    | . Damit k&ouml;nnen z.B. Google Analytics sowie andere Marketinganalyse-Dienste in das Onlineangebot eingebunden werden. Der Tag Manager selbst, welcher die Tags implementiert, verarbeitet keine personenbezogenen Daten der Nutzer. Im Hinblick auf die Verarbeitung der personenbezogenen Daten der Nutzer wird auf die folgenden Angaben zu den Google-Diensten verwiesen.
                h3
                    strong Datenschutzbestimmungen und -informationen von Google
                p
                    | Google verf&uuml;gt &uuml;ber eigene Datenschutzbestimmungen:
                    br
                    | &raquo;&nbsp;
                    a(rel='noreferrer noopener' href='https://policies.google.com/privacy/update?hl=de' target='_blank') Google Datenschutzerkl&auml;rung &amp; Nutzungsbedingungen
                    br
                    | &raquo;&nbsp;
                    a(rel='noreferrer noopener' href='https://policies.google.com/technologies/ads?hl=de' target='_blank') Datennutzung zu Werbezwecken
                    br
                    br
                    | Nutzungsrichtlinien von Google Tag Manager:
                    br
                    | &raquo;&nbsp;
                    a(rel='noreferrer noopener' href='https://www.google.com/intl/de/tagmanager/use-policy.html' target='_blank') https://www.google.com/intl/de/tagmanager/use-policy.html
                h2 Dienste von Dritten
                p
                    | Die FHNW setzt Inhalt- oder Serviceangebote von Drittanbietern ein, um z.B. Videos, Plugins oder Schriftarten einzubinden.&nbsp;
                    br
                    br
                    | Die nachfolgende Darstellung bietet eine &Uuml;bersicht von Drittanbietern sowie ihrer Inhalte, nebst Links zu deren Datenschutzerkl&auml;rungen, welche weitere Hinweise zur Verarbeitung von Daten und, zum Teil bereits hier genannt, Widerspruchsm&ouml;glichkeiten (sogenanntes Opt-out) enthalten. Den Opt-in/Opt-out Status alle g&auml;ngigen Online Marketing Systeme k&ouml;nnen Sie &uuml;ber das&nbsp;
                    a(rel='noreferrer noopener' href='http://www.youronlinechoices.com/ch-de/praferenzmanagement' target='_blank') Cookie Management von Your Online Choices
                    | &nbsp;einsehen und bearbeiten.
                h3 CleverReach
                p
                    | Diese Webseite kann f&uuml;r den Versand von Mailings die Plattform des Dienstes &laquo;CleverReach&raquo; nutzen. Diese wird angeboten durch die CleverReach GmbH &amp; Co. KG, M&uuml;hlenstr. 43, 26180 Rastede, Deutschland.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.cleverreach.com/de/datenschutz/' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 Facebook
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;Facebook&raquo; nutzen. Diese Funktionen werden angeboten durch die Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA. Damit k&ouml;nnen wir Ihnen gezielt personalisierte und interessenbezogenen Werbung anzeigen. Facebook ordnet diese Daten, in &Uuml;bereinstimmung mit seiner Datenrichtlinie, Ihrem pers&ouml;nlichen Facebook-Benutzerkonto zu.
                    br
                    br
                    | Wenn Sie unterbinden m&ouml;chten, dass Ihnen Facebook mittels Remarketing-Funktionen Werbung anzeigt, k&ouml;nnen Sie dies in Ihren Facebook Kontoeinstellungen so deklarieren.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.facebook.com/policy.php' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung&nbsp;
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen' target='_blank' rel='noreferrer noopener') Datenschutzeinstellungen
                h3 Google Fonts
                p
                    | Diese Website verwendet zur einheitlichen Darstellung von Schriftarten sogenannte Web Fonts. Diese werden angeboten durch die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.google.com/policies/privacy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 Instagram
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;Instagram&raquo; nutzen. Diese Funktionen werden angeboten durch die Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA integriert. Wenn Sie in Ihrem Instagram-Account eingeloggt sind k&ouml;nnen Sie durch Anklicken des Instagram-Buttons die Inhalte unserer Seiten mit Ihrem Instagram-Profil verlinken. Dadurch kann Instagram den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten Daten sowie deren Nutzung durch Instagram erhalten.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='http://instagram.com/about/legal/privacy/' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 Issuu
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;Issuu&raquo; nutzen. Diese Funktionen werden angeboten durch die Issuu Inc., 131 Lytton Ave, Palo Alto, CA 94301, USA.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://issuu.com/legal/privacy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 LinkedIn
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;LinkedIn&raquo; nutzen. Anbieter ist die LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA. Bei jedem Abruf einer unserer Seiten, die Funktionen von LinkedIn enth&auml;lt, wird eine Verbindung zu Servern von LinkedIn aufbaut. LinkedIn wird dar&uuml;ber informiert, dass Sie unsere Internetseiten mit Ihrer IP-Adresse besucht haben. Wenn Sie den &laquo;Diese Seite teilen-Button&raquo; von LinkedIn anklicken und in Ihrem Account bei LinkedIn eingeloggt sind, ist es LinkedIn m&ouml;glich, Ihren Besuch auf unserer Internetseite Ihnen und Ihrem Benutzerkonto zuzuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten Daten sowie deren Nutzung durch LinkedIn haben.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.linkedin.com/legal/privacy-policy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out' target='_blank' rel='noreferrer noopener') Opt-Out
                h3 OpenStreetmap
                p
                    | Diese Webseite kann Karten des Dienstes &laquo;OpenStreetmap&raquo; nutzen. Diese Funktionen werden angeboten durch die OpenStreetMap Foundation, 132 Maney Hill Road, Sutton Cold&shy;field, West Midlands, B72 1JU, United Kingdom.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://wiki.osmfoundation.org/wiki/Privacy_Policy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 SlideShare
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;SlideShare&raquo; nutzen. Diese Funktionen werden angeboten durch die SlideShare Inc., 1 Montgomery St., Suite 1300, San Francisco, CA 94104, USA.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='http://www.slideshare.net/privacy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 SoundCloud
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;SoundCloud&raquo; nutzen. Diese Funktionen werden angeboten durch die SoundCloud Limited, Berners House, 47-48 Berners Street, London W1T 3NF, England.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://soundcloud.com/pages/privacy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 Twitter
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;Twitter&raquo; nutzen. Anbieter ist die Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion &laquo;Re-Tweet&raquo; werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verkn&uuml;pft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter &uuml;bertragen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der &uuml;bermittelten Daten sowie deren Nutzung durch Twitter erhalten.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='http://twitter.com/privacy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                    br
                    | &raquo;&nbsp;
                    a(href='https://twitter.com/settings/account' target='_blank' rel='noreferrer noopener') Datenschutzeinstellungen
                h3 Vimeo
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;Vimeo&raquo; nutzen. Diese Funktionen werden angeboten durch die Vimeo, Inc., 555 West 18th Street, New York, New York 10011, USA.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(rel='noreferrer noopener' href='https://vimeo.com/privacy' target='_blank') Datenschutzerkl&auml;rung&nbsp;
                h3 Xing
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;Xing&raquo; nutzen. Anbieter ist die Anbieter ist die XING AG, Dammtorstrasse 29-32, 20354 Hamburg, Deutschland. Bei jedem Abruf einer unserer Seiten, die Funktionen von Xing enth&auml;lt, wird eine Verbindung zu Servern von Xing hergestellt. Eine Speicherung von personenbezogenen Daten erfolgt dabei nach unserer Kenntnis nicht. Insbesondere werden keine IP-Adressen gespeichert oder das Nutzungsverhalten ausgewertet.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.xing.com/app/share?op=data_protection' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 Yoast SEO
                p
                    | Auf dieser Website setzen wir Plugins von Yoast SEO ein. Dieses Plugin wird angeboten durch die Yoast BV, Don Emanuelstraat 3, 6602 GX Wijchen, The Netherlands, Tel: +31 (0)24 82 00 337 (Chamber of Commerce / KvK: 55404367, VAT Number: NL851692540B01).
                    br
                    br
                    | Dieses Plugin &uuml;bernimmt die komplette technische Optimierung unserer Webseiten f&uuml;r Suchmaschinen. Es unterst&uuml;tzt auch bei der Entwicklung von Inhalten.&nbsp;
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://yoast.com/privacy-policy/' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung
                h3 YouTube
                p
                    | Diese Webseite kann Funktionen des Dienstes &laquo;YouTube&raquo; nutzen. Diese Funktionen werden angeboten durch die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
                    br
                    br
                    | &raquo;&nbsp;
                    a(href='https://www.google.com/policies/privacy' target='_blank' rel='noreferrer noopener') Datenschutzerkl&auml;rung&nbsp;
                    br
                    | &raquo;&nbsp;
                    a(href='https://myaccount.google.com/intro' target='_blank' rel='noreferrer noopener') Opt-Out
                h2 Haftungsausschluss
                p
                    | F&uuml;r Sch&auml;den materieller oder immaterieller Art, welche im Zusammenhang mit der Nutzung oder nicht Nutzung der angebotenen Informationen, durch Missbrauch der Verbindungen oder durch technische St&ouml;rungen entstehen, &uuml;bernimmt die FHNW keine Haftung.