footer#footer.page-footer.font-small.mt-5
    .container.footer__inner.mt-5.mb-4
        .row
            .col-12.col-sm-6.col-lg-4.mb-3.mb-md-0.order-2.order-lg-1
                .footer-widget
                    h3.footer__title Kontakt
                    .textwidget
                        p
                            | Fachhochschule Nordwestschweiz FHNW
                            br
                            | P&auml;dagogische Hochschule
                            br
                            | Services
                            br
                            | Bahnhofstrasse 6
                            br
                            | 5210 Windisch
                        p
                            | E-Mail:
                            a(href='mailto:applprojekte.ph@fhnw.chs')  applprojekte.ph@fhnw.ch
            .col-12.col-lg-4.mb-3.mb-lg-0.order-1.order-lg-2
                .footer-widget
                    h3.footer__title &Uuml;ber diese Website
                    .textwidget
                        p
                            | Softwareantrags-Tool
                            br
                            | der P&auml;dagogischen Hochschule FHNW
            .col-12.col-sm-6.col-lg-4.order-3
                .footer-widget
                    h3.footer__title Quicklinks
                    .textwidget
                        p
                            a(href='/') PH Santra
                            br
                            a(href='/form') Software Antrag
                            br
                            a(href='/user') Alle Antr&auml;ge
                            br
                            a(href='/info') Info
    .container.footer__meta
        .border-top.border-dark.d-flex.justify-content-center
            p
                a(href='https://www.fhnw.ch' target='_blank') www.fhnw.ch
                span.d-inline-block.mx-1.mx-md-2 |
                a(href='/impressum') Impressum
                span.d-inline-block.mx-1.mx-md-2 |
                a(href='/datenschutz') Datenschutz

script(type='text/javascript' src="./static/js/libs/jquery.js")
script(type='text/javascript' src="./static/js/libs/bootstrap.bundle.min.js" crossorigin="anonymous")
    script(type='text/javascript' src="./static/js/libs/tether.js")
        script(type='text/javascript' src="./static/js/libs/bootstrap.js")
            script(type='text/javascript' src="./static/js/libs/tether.js")
script(type='text/javascript' src="./static/js/libs/printpdf.js")
script(type='text/javascript' src="./static/js/libs/cookiealert.js")
script(type='text/javascript' src="./static/js/custom.js")



