.content-wrapper
    .container
        .row
            .col-12.col-lg-10.col-xl-8
                h1.wp-block-wk-page-title#h1-heading Impressum
                p.wp-block-wk-lead.lead  Verantwortlichkeit f&uuml;r den Inhalt dieser Seite.
                h2 Kontakt
                p
                    | Fachhochschule Nordwestschweiz FHNW
                    br
                    | Pädagogische Hochschule
                    br
                    | Services
                    br
                    | Bahnhofstrasse 6
                    br
                    | 5210 Windisch
                    br
                    | E-Mail:
                    a(href='mailto:applprojekte.ph@fhnw.ch')  applprojekte.ph@fhnw.ch
                h2 Barrierefreiheit
                p
                    | Diese Website benutzt das Open Source Content Management System WordPress und wurde unter Ber&uuml;cksichtigung der Barrierefreiheitsrichtlinien f&uuml;r Webinhalte (WCAG 2.0 A) erstellt. Sollte diese Website in irgendeiner Hinsicht nicht standardgem&auml;ss oder barrierefrei sein, sind wir froh um einen Hinweis. Wir sind bestrebt, diese Website m&ouml;glichst f&uuml;r jede Besucherin und jeden Besucher klar und einfach nutzbar zu machen.


