#content
    .container
        .row
            .col-md-12
                h1#h1-heading
                    | Santra - Softwareantrag
                    br
                    | P&auml;dagogische Hochschule FHNW
            .col-md-4
                h4
                    br
                    | Links:
                ul
                    li
                        a(target='_blank' href='https://web.fhnw.ch/plattformen/ict/lizenzen/')
                            | CIT-Softwareliste
                    li
                        a(target='_blank' href='https://help.fhnw.ch/1265/software-kiosk-im-sccm/')
                            | Software Center (Windows)
                    li
                        a(target='_blank' href='https://help.fhnw.ch/2482/macos-self-service-fhnw/')
                            | Softwarekiosk (macOS/iOS)
                    li
                        a(target='_blank' href='https://web.fhnw.ch/plattformen/ict/softwaredownload/liste.php?pf=macOS')
                            | Software
                            | Download
            .col-md-4
                h4
                    br
                    | Dokumente:
                ul
                    li
                        a(target='_blank' download='' href='https://welcome.inside.fhnw.ch/organisation/hochschule/PH/mitarbeitende/Freigegebene%20Dokumente/210305_Softwarebestellprozess_Beschrieb.pdf')
                            | Softwarebestellprozess
                    li
                        a(target='_blank' download='' href='https://applications.inside.fhnw.ch/app/processes/Prozessdokumente/FHNW-AB Merkblatt Umgang mit Lernplattformen.pdf')
                            | Merkblatt des Rechtdienstes
            .col-md-4
                h4
                    br
                    | Informationen Tool
                span
                    | Version 1.0
                    br
                    |                                           Release Datum: xx.xx.2021
                    br
                    |                                           Erstellt mit: Bootstrap 4, NodeJS
            br
            br
            .col-md-5
                br
                h4
                    br
                    | Anfragen Support CIT
                span IT-Service-Desks der Hochschulstandorte
                br
                a(href='tel:+41 61 228 50 50')
                    i.fas.fa-phone-square-alt
                    |  +41 61 228 50 50
                br
                a(href='mailto:it-support@fhnw.ch')
                    i.fas.fa-envelope-square
                    |  it-support@fhnw.ch
            .col-md-5
                br
                h4
                    br
                    | Anfragen zum Tool
                span
                    | Applikationen und Projekte
                br
                a(href='mailto:applprojekte.ph@fhnw.ch')
                    i.fas.fa-envelope-square
                    |  applprojekte.ph@fhnw.ch
| &apos;