#content
    .container
        .row
            .col-md-12
                h1#h1-heading
                    | Santra - Softwareantrag
                    br
                    | P&auml;dagogische Hochschule FHNW
        .row
            span
                br
                | Die FHNW stellt ihren Mitarbeiter*innen verschiedene Software f&uuml;r die Aus- und Weiterbildung sowie Forschung und Entwicklung zur Verf&uuml;gung.
            p
                br
                |             Bevor ein Antrag f&uuml;r eine Software eingereicht wird, sollen unten aufgef&uuml;hrte Vorabkl&auml;rungen (Schritt 1 bis 4) durchgegangen werden:
                ul.indented
                    li
                        | Software ist bereits vorhanden ohne weitere Lizenzkosten/Zusatzkosen
                    li  Software ist vorhanden, jedoch ist eine Lizenz kostenpflichtig
            .col-md-12
                ul.nav.nav-tabs.list-steps
                    li.nav-item
                        a.nav-link(data-toggle='tab' href='#step1')
                            span
                                i.fas.fa-arrow-circle-right
                                |  Schritt 1
                            p
                                | Gibt es die Software an der FHNW bereits?
                    li.nav-item
                        a.nav-link(data-toggle='tab' href='#step2')
                            span
                                i.fas.fa-arrow-circle-right
                                |  Schritt 2
                            p
                                | Software ist in der CIT-Softwareliste nicht aufgef&uuml;hrt
                    li.nav-item
                        a.nav-link(data-toggle='tab' href='#step3')
                            span
                                i.fas.fa-arrow-circle-right
                                |  Schritt 3
                            p
                                | Gew&uuml;nschte Software steht nicht zur Verf&uuml;gung
                    li.nav-item
                        a.nav-link(data-toggle='tab' href='#step4')
                            span
                                i.fas.fa-arrow-circle-right
                                |  Schritt 4
                            p
                                | Antrag f&uuml;r Softwarebeschaffung einreichen
        .card-body.card-steps
            .tab-content
                #step1.tab-pane.fade
                    span
                        | Mitarbeitende haben die M&ouml;glichkeit unter CIT-Softwareliste einzusehen, welche Software auf Ebene PH oder FHNW vorhanden ist und laden diese selbstst&auml;ndig im Software Center, Softwarekiosk oder Software Download herunter.
                    h4
                        br
                        | Links:
                    ul
                        li
                            a(target='_blank' href='https://web.fhnw.ch/plattformen/ict/lizenzen/')
                                | CIT-Softwareliste
                        li
                            a(target='_blank' href='https://help.fhnw.ch/1265/software-kiosk-im-sccm/')
                                | Software Center (Windows)
                        li
                            a(target='_blank' href='https://help.fhnw.ch/2482/macos-self-service-fhnw/')
                                | Softwarekiosk (macOS/iOS)
                        li
                            a(target='_blank' href='https://web.fhnw.ch/plattformen/ict/softwaredownload/liste.php?pf=macOS')
                                | Software
                                | Download
                    b.btn-danger  Wichtiger Hinweis
                    br
                    span
                        | Falls Sie Anwendungen/Software nutzen, welche nicht von der FHNW angeboten werden, beachten Sie das
                        a(href='https://applications.inside.fhnw.ch/app/processes/Prozessdokumente/FHNW-AB%20Merkblatt%20Umgang%20mit%20Lernplattformen.pdf' target='_blank') Merkblatt des Rechtsdienstes
                        | !
                    h4
                        br
                        | Hard-/Software &ndash; Finanzierung &uuml;ber Drittmittel
                    span
                        | Werden Hard- oder Softwaren &uuml;ber Drittmittel finanziert, entf&auml;llt die finanzielle Pr&uuml;fung. Nichtsdestotrotz ist die Beschaffung im Regelfall &uuml;ber den ordentlichen Prozess abzuwickeln. Damit k&ouml;nnen die bestehenden Strukturen sowie allf&auml;llige Mengenrabatte genutzt und die korrekte Administration, Pflege, Support etc. sichergestellt werden. Bei Anschaffungen &uuml;ber Drittmittel sind keine Implementationen in die vorhandene IT und auch keine medienpad&auml;gogische Beratung/Weiterbildung seitens der Hochschule inkludiert. Entsprechendes muss angefragt und ressourciert werden.
                    h4
                        br
                        | Honorarempfangende
                    span
                        | Ergeben sich Softwarebed&uuml;rfnisse respektive -erfordernisse bei Honorarempfangenden, welche ihr eigenes Ger&auml;t mitbringen, wenden sich diese an den ITService-Desk.
                #step2.tab-pane.fade
                    span
                        | Falls die gew&uuml;nschte Software auf der CIT-Softwareliste nicht wie in Schritt 1 beschrieben zur Verf&uuml;gung steht, wenden Sie sich an die IT-Service-Desks der Hochschulstandorte (
                        a(href='tel:+41 61 228 50 50') +41 61 228 50 50
                        | ,&nbsp;
                        a(href='mailto:it-support@fhnw.ch') it-support@fhnw.ch
                        |  ), da eventuell eine Freigabe f&uuml;r Mitarbeitende der PH FHNW erteilt werden muss.
                #step3.tab-pane.fade
                    span
                        | Falls die gew&uuml;nschte Software auch auf diesem Weg (Schritt 2) nicht zur Verf&uuml;gung gestellt werden kann, k&ouml;nnen PH FHNW Mitarbeiter*innen einen &laquo;Antrag Softwarebeschaffung&raquo; stellen.
                    br
                    br
                    span
                        | Bitte beachten Sie, dass die Bearbeitung in aufwendigen F&auml;llen (Bsp. gr&ouml;ssere Lizenzpakete) bis zu 3 Monate dauern kann. Sie erhalten dann eine R&uuml;ckmeldung zur Anschaffung oder Nicht-Anschaffung der gew&uuml;nschten Software.
                    br
                    br
                    span
                        | Damit das Entscheidungsgremium rechtzeitig verbindliche Beschl&uuml;sse &uuml;ber den Einsatz von neuer Software in der Lehre zu Semesterbeginn sicherstellen kann, muss in diesen F&auml;llen die Anfragen bis zu folgenden Terminen eingereicht werden:
                    ul
                        li 01.09. f&uuml;r das kommende FS
                        li 01.03. f&uuml;r das kommende HS
                    span
                        | Ausgenommen davon sind einfachere F&auml;lle, Einzellizenzen etc. welche in einer reduzierten Verarbeitungszeit abgehandelt werden k&ouml;nnen.
                #step4.tab-pane.fade
                    a(href='/form')
                        button.btn.btn-secondary.btn-lg(type='button')
                            i.fas.fa-plus-square
                            |  Neuer
                            |                         Antrag f&uuml;r Softwarebeschaffung
                    br
        .alert.alert-secondary.cookiealert(role='alert')
            .container
                .row
                    .col-10
                        p
                            | Indem Sie diesen Hinweis schliessen oder mit dem Besuch der Seite fortfahren, akzeptieren Sie die
                            | Verwendung von Cookies. Weitere Informationen dazu finden Sie unter
                            a(href='#' target='_blank') Datenschutz
                            | .
                    .col-2.mt-3
                        button.btn.btn-secondary.btn-sm.acceptcookies.float-right.pl-3.pr-3(type='button' aria-label='Close')
                            | Ok




