span.service-buttons-wrapper.service-buttons-wrapper-form
    button#buttonsubmitformdraft.submitformbtn.btn.btn-primary.btn-sm(type='submit')
        | &Auml;nderungen speichern (Entwurf)
        i.fas.fa-save
    button#buttonsubmitform.submitformbtn.submitformbtnaction.btn.btn-primary.btn-sm(type='submit')
        | Antrag einreichen
        i.fas.fa-paper-plane
    button.btn.btn-primary.btn-sm(type='button' data-bs-toggle='modal' data-bs-target='#removeModal')
        | Formulareingaben zur&uuml;cksetzen
        i.fas.fa-undo
    #removeModal.modal(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Formulareingaben zur&uuml;cksetzen
                .modal-body
                    | Wollen Sie wirklich die Formulardaten verwerfen?
                .modal-footer
                    button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                    a(href="/form").btn.btn-primary.btn-sm.btn-remove
                        |  Daten l&ouml;schen
    button.btn.btn-primary.btn-sm.floatright.hidden-sm(type='button' data-bs-toggle='modal' data-bs-target='#removeModalBack')
        | Zur&uuml;ck zur Startseite
        i.fas.fa-search
    #removeModalBack.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Zur&uuml;ck zur Startseite
                .modal-body
                    | Wollen Sie die Seite wirklich verlassen?
                    br
                    | Formulardaten werden nicht gespeichert.
                .modal-footer
                    a(href='')
                        button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                    a(href='/')
                        button.btn.btn-primary.btn-sm(type='button') OK

