span.service-buttons-wrapper.service-buttons-wrapper-edit
        button.btn.btn-primary.btn-sm.submitformbtnaction(type='submit')
                | &Auml;nderungen speichern
                i.fas.fa-save
        button.btn.btn-primary.btn-sm(type='button' data-bs-toggle='modal' data-bs-target='#removeModal')
            | Zurück zum Antrag
            i.fas.fa-undo
        #removeModal.modal(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title Änderungen verwerfen
                    .modal-body
                        | Wollen Sie wirklich die Änderungen verwerfen?
                    .modal-footer
                        button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') Abbrechen
                        a.btn.btn-primary.btn-sm.link-edit-back
                                | Änderungen verwerfen

        a.btn.btn-primary.btn-sm.floatright(href="/" type='button' data-toggle='modal' data-target='#removeModalBack')
                | Zur&uuml;ck zur Startseite
                i.fas.fa-search

// Modal
#removeModalBack.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5.modal-title Zur&uuml;ck zur Startseite
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                | Wollen Sie die Seite wirklich verlassen?
                br
                | Formulardaten werden nicht gespeichert.
            .modal-footer
                button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal') Abbrechen
                a(href='/').btn.btn-primary.btn-sm(type='button') OK
// Modal
#countModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5.modal-title Maximale Anzahl
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                | Maximale Anzahl Felder erreicht
            .modal-footer
                button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal') Schliessen
