span.service-buttons-wrapper.service-buttons-wrapper-history
        a(href="/details?tsid="+ orderid class="link-id").btn.btn-primary.btn-sm
                | Zurück zum Antrag
                i.fas.fa-edit
        a(href='/user').btn.btn-primary.btn-sm.floatright
                | Zur&uuml;ck zu
                | allen Antr&auml;gen
                i.fas.fa-search
br