span.service-buttons-wrapper
    for order in softwareListDetails
        a(href="/edit?tsid="+ order.orderid class="link-id")
            button.btn.btn-primary.btn-sm.btn-orderedit(type='submit')
                | Antrag bearbeiten
                i.fas.fa-edit
        button#pdfexport.btn.btn-primary.btn-sm(type='button')
            | Antrag als PDF speichern
            i.fas.fa-file-pdf
        button.btn.btn-primary.btn-sm.hidden-xs(type='button' data-bs-toggle='modal' data-bs-target='#removeModal')
            | Antrag l&ouml;schen
            i.fas.fa-trash-alt
        #removeModal.modal(tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5.modal-title Antrag l&ouml;schen
                    .modal-body
                        | Wollen Sie wirklich den Antrag unwiderruflich l&ouml;schen und Antragssteller*inn dar&uuml;ber informieren?
                    .modal-footer
                        button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss="modal") Abbrechen
                        for order in softwareListDetails
                            a(href="#" class="link-id-delete")
                                button.btn.btn-primary.btn-sm.btn-remove(type='submit') Antrag l&ouml;schen
        a(href='/user')
            button.btn.btn-primary.btn-sm.floatright(type='button')
                | Zur&uuml;ck zu
                | allen Antr&auml;gen
                i.fas.fa-search
        for order in softwareListDetails
            a(href="/history?tsid="+ order.orderid class="link-id")
                button.btn.btn-primary.btn-sm
                    | Detallierter Verlauf der Bestellung
                    i.fas.fa-history
    br